<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>

<div class="main-container">
  <div class="left">
    <div>
      <img width="100" alt="Notable Logo" src="http://notablehealth.com/images/notable-logo.svg">
    </div>
    <div style="padding-top: 1rem; ">
      <b> PHYSICIANS</b>
    </div>

    <ul>
      <li *ngFor="let doctor of doctors" (click)="doctorClicked(doctor)" class="list-item">
        {{doctor.lastName}}, {{doctor.firstName}}
      </li>
    </ul>

    <button mat-raised-button>Logout</button>

  </div>
  <div class="right" *ngIf="selectedDoctor">
    <h2>
      Dr. {{selectedDoctor.firstName}} {{selectedDoctor.lastName}}
    </h2>
    <p>
      {{selectedDoctor.email}}
    </p>

    <table mat-table [dataSource]="appointments" class="mat-elevation-z8" *ngIf="appointments.length > 0">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.patient_name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.time | date:'shortTime'}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="kind">
        <th mat-header-cell *matHeaderCellDef> Kind </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>



<router-outlet></router-outlet>
