.main-container {
  display: flex;

}

.list-item{

  margin-left:-1.4rem;
  padding-bottom:1rem;
  cursor: pointer
}

.left {
  width:20%;
  background-color: #efefef;
  padding: 2rem;
}
.right{
  width: 70%;
  margin-left: 1rem;
}

table {
  width: 100%;
}
